
.episode-1-intro {
  background: url('../img/intro-1.png') no-repeat;
  @include image-2x('../img/intro-1@2x.png', 424px, 300px);
}

.episode-2-intro {
  background: url('../img/intro-2.png') no-repeat;
  @include image-2x('../img/intro-2@2x.png', 424px, 300px);
}

.small-mei-happy {
  background: url('../img/small-mei-1.png') no-repeat;
  @include image-2x('../img/small-mei-1@2x.png', 43px, 58px);
}