// Form styles

.form-errors {
  background-color: $red;
  padding: 18px 36px;
  color: $white;
  margin-bottom: 12px;
}

input[type="text"], input[type="password"], input[type="date"],
input[type="datetime"], input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"], input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], input[type="button"],
input[type="submit"] {
  height: 52px;
  line-height:52px;
  font-size: 18px;
  font-family: $ff-medium;
  margin-bottom:12px;
  margin-top: 12px;
}

input.medium.btn{
  @include button(
      0,
      $green,
      0,
      false,
      false,
      true);
  padding: 0 14px;
  width: 100%;
  height: 52px;
  line-height:52px;
  font-size: 18px;
  margin-bottom:12px;
  margin-top: 12px;
  font-family: $ff-medium;
}

form {

  // single line
  .inline {
    margin-bottom:12px;
    margin-top: 12px;
    line-height: 52px;
  }

}