
$sidebar-width: 270px;

#game {
  background:transparent;



  #sidebar {
    width: $sidebar-width;
    background: white;
    position: fixed;
    height: 600px;
    top: 0;

    // Sidebar logo header /w home link
    header {
      width: $sidebar-width;
      margin: 0 auto;

      h1 {
        margin: 0;
        padding: 30px 0 $gutter*3 0;

        a {
          display:block;
          background: url('../img/logo-game.png') no-repeat top center;
          @include image-2x('../img/logo-game@2x.png', 168px, 99px);
          text-indent: -9999em;
          margin: 0;
          padding: 0;
          height: 99px

        }
      }
    }

    // Current player badge and main navigation
    #player {
      margin: 0 $gutter*0.5;
      background: $off-white;
      width: $sidebar-width - $gutter;
      overflow: hidden;

      .avatar {
        margin: $gutter 0 $gutter $gutter;
        float: left;
      }

      .name {
        float: right;
        width: $sidebar-width - $gutter*3 - 50;
        min-height: 50px + $gutter*0.5;
        margin-top: $gutter * 1.5;

        h3 {
          font-size: 22px;
          line-height: 24px;
          font-family: $ff-regular;
          margin: 0;
        }

        h4 {
          font-size: 14px;
          line-height: 16px;
          font-family: $ff-regular;
          margin: 0;
        }

      }


      nav {
        height: 72px;
        margin-left: 6px;

        .btn {
          float: left;
          display: block;
          margin-right: $gutter*0.5;
          width: 78px;
        }

        // IE friendly way of doing nth-child(3)
        .btn.row-end {
          margin-right: 0;
        }
      }

    }


    #game-progress {
      margin-top: $gutter;

      #scorecard {
        margin: 0 $gutter*0.5;
        background: $off-white;
        padding: $gutter*0.5;
        width: $sidebar-width - $gutter;
        overflow: hidden;

        font-family: $ff-medium;
        font-size: 14px;

        .inline-list {
          padding: 0 $gutter*0.5;
          font-family: $ff-bold;
          margin: 0;
          li {
            width: 25%;
            margin: 0 !important;
            line-height:18px;
            height: 16px;

            .icon {
              display: block !important;
              float: left;
              margin-right: 3px;
            }

            .time-colon {
              padding: 0 1px;
              font-family: 'trebuchet ms', verdana, sans-serif;
              font-weight:bold;
              line-height: 10px;
            }
          }
        }

        #goal-zero {
          width: 73px;
          height: 79px;
          margin-top: $gutter - 4px;
          text-align: center;
          font-family: $ff-bold;
          float: left;

          &.gz-0 {
            background: indianred;
            color: darkred;
          }

          &.gz-1 {
            background: #67c977;
            color: #195723;
          }

          .h-top, .h-bot, .score {

            display:block;
            text-transform: uppercase;
            font-size: 11px;
            height: 22px;
            line-height:26px;
            letter-spacing: 1px;
          }

          .score {
            font-size: 36px;
            line-height:38px;
            height: 34px;
            letter-spacing: 0;
          }

        }

        #points {
          width: 167px;
          height: 79px;
          background: $light-grey;
          margin-top: $gutter - 4px;
          margin-left: $gutter*0.5;
          float: left;
          font-family: $ff-bold;
          padding-left: $gutter*0.5;

          .h-top, .h-bot, .score {
            display:block;
            text-transform: uppercase;
            font-size: 11px;
            height: 22px;
            line-height:26px;
            letter-spacing: 1px;

          }

          .score {
            font-size: 36px;
            line-height:38px;
            height: 34px;
            letter-spacing: 0;
          }

          .small.icon.turn {
            height: 15px !important;
            background-position-y: 5px !important;
          }

        }
      }
    }

  }

  #main {
    margin-left: $sidebar-width + $gutter * 2;
    width: 424px;
    padding-top: 29px;

    .sheet {
      @extend .white-bg;
      margin-top: 24px;
      margin-bottom: 24px;
      padding: 0;
    }

    .ui-box {
      margin-top: 0;
      float: left;
      width: 424px;
    }

    .ui-box-content {
      //padding-left: $gutter;
      //padding-top: $gutter*0.5;
      //width: 271px;
      //float:left;
    }

    // generic game UI styles
    .game-ui {

      form {
        margin: 0;
      }

      .action.btn {
        background-image: url('../img/action-recessed.png');
        @include image-2x('../img/action-recessed@2x.png', 16px, 16px);
        background-repeat: no-repeat;
        background-position: 1px 6px;
        padding-left: 15px;
      }

      #events {
        height: 112px;
        overflow: hidden;

        .event {
          float: left;
          width: 106px;
          height: 106px;
          padding: 3px;
          margin-right: $gutter;
          background: url('../img/event-frame.png') no-repeat;
          @include image-2x('../img/event-frame@2x.png', 106px, 106px);
          text-align: center;

          div {
            // inner div containing bg image
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-position: center bottom;

            font-size: 14px;
            font-family: $ff-medium;
            line-height: 13px;


            span {
              font-size: 11px;
              font-family: $ff-bold;
              display: block;
              height: 24px;
              line-height: 26px;
              text-transform: uppercase;
              color: $dark-grey;
            }
          }

          &.caution div {
            background-image: url('../img/event-caution.png');
            @include image-2x('../img/event-caution@2x.png', 99px, 61px);
          }

          &.tornado div {
            background-image: url('../img/event-tornado.png');
            @include image-2x('../img/event-tornado@2x.png', 99px, 61px);
          }

          &.lightning div {
            background-image: url('../img/event-lightning.png');
            @include image-2x('../img/event-lightning@2x.png', 99px, 61px);
          }

          &.high-market div {
            background-image: url('../img/event-high-market.png');
            @include image-2x('../img/event-high-market@2x.png', 99px, 61px);
          }

          // todo: add this asset
          &.poor-vision div {
            background-image: url('../img/event-high-market.png');
            @include image-2x('../img/event-high-market@2x.png', 99px, 61px);
          }


        }


      }

      #safety-box {

        width: 206px;
        height: 124px;
        float: left;

        .safety-stack {
          padding-left: 72px;
          background: url('../img/safety-stack.png') no-repeat;
          @include image-2x('../img/safety-stack@2x.png', 50px, 70px);
          background-position: $gutter 3px;

          .safety.btn {
            width: 122px;
          }
        }
      }

      #quality-box {
        width: 206px;
        height: 124px;
        float: left;
        margin-left: $gutter;

        .quality-stack {
          padding-left: 72px;
          background: url('../img/production-stack.png') no-repeat;
          @include image-2x('../img/production-stack@2x.png', 50px, 70px);
          background-position: $gutter 3px;

          .production.btn {
            width: 122px;
          }
        }
      }

      #production-box {
        margin-top: 0;
        float: left;
        height: 125px;
        width: 424px;

        .barrier.btn, .plan.btn {
          width: 194px;
          padding-right: 51px;
        }

        .badge {
          position: absolute;
          left: 148px;
          width: 39px;
          height: 23px;
          top: 3px;
          background: #fff;
          text-align: center;
          font-family: $ff-bold;
          font-size: 21px;
          line-height: 27px;

          background: #fff url('../img/production-count-box.png') no-repeat;
          @include image-2x('../img/production-count-box@2x.png', 39px, 23px);

        }

        .barrier.badge {
          color: #a34d4d;
        }

        .production.badge {
          color: #3f4861;
        }

        .production-plan {
          padding-left: $gutter;
          padding-top: $gutter*0.5;
          width: 271px;
          float:left;

          background: url('../img/production-flow.png') no-repeat 212px 22px;
          @include image-2x('../img/production-flow@2x.png', 52px, 36px);
        }

        .production-produce {
          padding-top: $gutter*0.5;

          input {
            width: 141px;
            height: 66px;
            line-height:70px;
          }

        }

      }

      #messages-box {
        margin-top: 0;
        margin-bottom: $gutter*4;
        float: left;

        width: 424px;
        overflow: hidden;
      }

      #team-box {
        float: left;
        width: 424px;

        .roster {
          width: 235px;
          border-right: 1px solid $mid-grey;
          margin-bottom: $gutter*0.5;
          padding: 0 $gutter*0.5 $gutter*0.5 $gutter;
          overflow: hidden;
          float: left;
          min-height: 136px;

          .avatar {
            opacity: 0.5;
            margin: $gutter*0.5 $gutter*0.5 0 0;
            float: left;

            &:hover, &.active {
              opacity: 1.0;
            }

            &.active {
              box-shadow: 0 0 4px $black;
            }
          }
        }

        .actions {
          float: left;
          width: 183px;
        }

        .actions.no-mate {
          text-transform: uppercase;
          color: $mid-grey;
          font-family: $ff-medium;
          font-size: 14px;
          text-align: center;
          padding-top: 54px;
        }

        .actions.mate {
          padding: 10px $gutter*0.5 0 $gutter;

          #team-mate-name {
            font-size: 22px;
            font-family: $ff-medium;
            display:block;
          }

          #team-mate-email {
            font-size: 14px;
            display: block;
            margin-bottom: $gutter*0.5;
          }

          .tiny.btn {
            width: 165px;
          }



        }



      }



    }

    // in game messages
    .modal.message {

      h2 {
        font-size: 18px;
        font-family: $ff-bold;
        text-transform: uppercase;
        text-align: center;
      }

      .dismiss.btn {
        width: auto;
      }

    }


  }

}