#lobby {

  background-image: url('../img/bg-landing2.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;

  header {
    width: 320px;
    margin: 0 auto;

    h1 {
      margin: 0;
      padding: 56px 0 8px 0;

      a {
        display:block;
        background: url('../img/logo.png') no-repeat top center;
        @include image-2x('../img/logo@2x.png', 218px, 129px);
        text-indent: -9999em;
        margin: 0;
        padding: 0;
        height: 129px

      }
    }

  }

  .sheet {
    @extend .white-bg;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 0 12px 0;

  }

}