
.episode-intro, .event-intro {
  height: 300px;
  border: 6px solid #fff;
}

h4.action-cost {
  @extend .tiny-type;
  @extend .text-center;
  margin-top: $gutter*2;
  margin-bottom: 0;
  color: $black;
  text-transform: uppercase;
  font-family: $ff-bold;
  opacity: 0.5;
  height: 20px;
  line-height:20px;

  span {
    background: url('../img/icon-action.png') no-repeat 6px 1px;
    @include image-2x('../img/icon-action@2x.png', 16px, 16px);
    padding-left:16px;
    height: 20px;
    line-height:20px;
    padding: 5px 10px 5px 20px;
  }
}


a.medium.dismiss.btn {
  width: 160px;
}

.sheet p {
  padding-left: $gutter;
  padding-right: $gutter;
}

// blockquotes are used for character copy
blockquote {

  position: relative;

  p {
    margin: 0 auto;
    @extend .small-type;
    width: 230px + $gutter*2;
    padding: 0 $gutter;
    background: url('../img/icon-blockquote.png') no-repeat top left;
    @include image-2x('../img/icon-blockquote@2x.png', 16px, 16px);
    text-align: justify;
  }

  .small.character {
    @extend .tiny-type;
    @extend .text-center;
    margin-left: $gutter;
    position:absolute;
    width: 72px;
    height: 75px;
    padding-top: 62px;
    top: 0;
    left: 0;
    background-position: center 2px;
    text-transform: uppercase;
    color: $dark-grey;
  }

  .large.character {
    @extend .tiny-type;
    @extend .text-center;
    height: 197px;
    display:block;
    background-position: center top;
    padding-top: 173px;

  }

}

.coingroup {
  text-align: center;
}

.coin {
  margin: 1px;
  width: 42px;
  height: 42px;
  display:inline-block;
  text-indent: -999999em;

}

