// Shared helper classes and misc styles

//==== Layout overrides and tweaks ====

* {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

//==== Global Typography ====

a, a:link, a:visited {
  text-decoration: underline;
}

a:hover {
  color: $red;
}

h3 {
  font-family: $ff-medium;
  margin: 0 0 12px 0;
  font-size: 18px;
}

//==== Helper classes ====

.text-center {
  text-align: center;
}

.white-bg {
  background: transparent url('../img/trans-white-bg.png');
}

.green-bg {
  background-color: $green;
}

.gutter-double-pad {
  padding-left: 24px;
  padding-right: 24px;
}

a.small.btn{
  @include button(
      0,
      $green,
      0,
      false,
      false,
      false);
  text-transform: uppercase;
  padding: 0 14px;
  margin-bottom:12px;
  font-family: $ff-medium;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
}

.clearfix { *zoom: 1; }
.clearfix:before, .row:after { content: " "; display: table; }
.clearfix:after { clear: both; }

