{% extends "base-lobby.html" %}

{% block pagetitle %}Log in{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Sign in and play</h3>

            {% if form.errors %}
                <div class="form-errors">
                    Invalid email address or password. Try again.
                </div>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>

        </div>
    </div>


<p>Or <a href="{% url 'registration_register' %}">register</a></p>

{% endblock %}