{% extends "base-lobby.html" %}

{% block pagetitle %}Log in{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Sign in and play</h3>

            {% if form.errors %}
                <div class="form-errors">
                    Invalid email address or password. Try again.
                </div>
            {% endif %}

            <form method="post" class="gutter-double-pad" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="row">
                    <div class="large-12 columns">
                        <!--{{ form.username.label_tag }}-->
                        {{ form.username }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <!--{{ form.password.label_tag }}-->
                        {{ form.password }}
                    </div>
                </div>

                <div class="row">
                    <div class="small-4 columns">
                        <input type="submit" value="Sign in" class="medium btn" />
                    </div>
                    <div class="small-8 columns">
                        <a href="#" class="right inline">Help, I forgot my password!</a>
                    </div>
                </div>

            </form>

        </div>
    </div>


<p>Or <a href="{% url 'registration_register' %}">register</a></p>

{% endblock %}