{% extends "base-lobby.html" %}

{% block pagetitle %}Sign in{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Sign in and play</h3>

            {% if form.errors %}
                <div class="form-errors">
                    Invalid email address or password. Try again.
                </div>
            {% endif %}

            <form method="post" class="gutter-double-pad" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="row">
                    <div class="large-12 columns large-collapse placeholder-container" data-placeholder="email address">
                        {{ form.username }}
                        <!--{{ form.username.label_tag }}-->
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns large-collapse placeholder-container" data-placeholder="password">
                        {{ form.password }}
                        <!--{{ form.password.label_tag }}-->
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns large-collapse">
                        <input type="submit" value="Sign in" class="medium btn" />
                    </div>
                    <div class="large-8 columns large-collapse">
                        <a href="{% url 'auth_password_reset' %}" class="inline right">I forgot my password!</a>
                        <!--<a href="{% url 'registration_register' %}" class="left inline">Or sign up</a>-->
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}