{% extends "base-lobby.html" %}

{% block pagetitle %}Request a new password{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Request a new password</h3>

            {% if form.errors %}
                <div class="form-errors">
                    There was a problem validating your email address.
                </div>
            {% endif %}



<!-- action="{% url 'django.contrib.auth.views.login' %}"-->
            <form method="post" class="gutter-double-pad">
                {% csrf_token %}

                <div class="row">
                    <div class="large-12 columns large-collapse placeholder-container" data-placeholder="email address">
                        {{ form.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 columns large-collapse">
                        <input type="submit" value="Request" class="medium btn" />
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}