{% extends "base-lobby.html" %}

{% block pagetitle %}New password set{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">New password set</h3>

            <div class="row gutter-double-pad bottom-double-pad">
                <div class="large-12 columns large-collapse">
                    Your new password has been successfully set. You can go ahead and sign in now.
                </div>
            </div>

            <div class="row gutter-double-pad bottom-double-pad">
                <div class="large-4 large-centered columns large-collapse">
                    <a href="{% url 'auth_login' %}" class="medium btn">Sign in</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}