{% extends "base-lobby.html" %}

{% block pagetitle %}Set a new password{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Set a new password</h3>

            {% if form.errors %}
                <div class="form-errors">
                    Your passwords did not match or are invalid.
                </div>
            {% endif %}

            <form method="post" class="gutter-double-pad">
                {% csrf_token %}

                <div class="row">
                    <div class="large-12 columns large-collapse placeholder-container" data-placeholder="new password">
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns large-collapse placeholder-container" data-placeholder="repeat your new password">
                        {{ form.new_password2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="large-5 columns large-collapse">
                        <input type="submit" value="Set password" class="medium btn" />
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}