{% extends "base-lobby.html" %}

{% block pagetitle %}Request a new password{% endblock %}

{% block content %}
    {% include "partials/lobby-logo-header.html" %}

    <div class="row">
        <div class="sheet large-6 large-centered columns">

            <h3 class="text-center">Request a new password</h3>

            <div class="row gutter-double-pad bottom-double-pad">
                <div class="large-12 columns large-collapse">
                    You will receive an email with instructions to reset your password shortly.
                </div>
            </div>

        </div>
    </div>

{% endblock %}