<ul>
	<li>Team event: {{ teamplayer.team.active_events }}</li>
	<li>Actions: {{ teamplayer.team.action_points }} office / {{ teamplayer.team.frontline_action_points }} frontline</li>
	<li>Goal zero: {{ teamplayer.team.goal_zero_markers }} currently / {{ teamplayer.team.get_goal_zero_streak }} longest this game</li>
	<li>Points: {{ teamplayer.team.victory_points_episode }} this episode / {{ teamplayer.team.victory_points }} this game</li>
	<li>Resources: {{ teamplayer.team.resources_collected_episode }} this episode / {{ teamplayer.team.resources_collected }} this game</li>
	<li>Incidents: x this episode / x this game</li>
</ul>