{% extends "base.html" %}


{% block content %}

    <section class="modal message">
        <div class="row">
            <div class="sheet large-12 columns">

                <div class="episode-intro episode-1-intro"></div>

                <h3 class="text-center triple-gutter-pad-top">Game Over</h3>

                <p class="half-gutter-pad-top narrow">Thanks a lot for playing the pilot of Ripple Effect, a game of resources and risks. We hope you found the experience enjoyable and instructive. Please let us know what you thought via <a href="mailto:feedback@playrippleeffect.com">feedback@playrippleeffect.com</a>. We will use all comments to improve the full version of the game, that will be longer and deeper, offering many new events along the way.</p>

                <header>
                    <h5 class="text-center">
                        Game Results
                    </h5>
                </header>

                <p class="stat-row">Team ranking <span>{{ team.get_rank }}</span></p>
                <p class="stat-row">Points scored <span>{{ team.victory_points }}</span></p>
                <p class="stat-row">Resources produced <span>{{ team.resources_collected }}</span></p>
                <p class="stat-row triple-gutter-margin-bot">Goal Zero streak<span>{{ team.get_goal_zero_streak }}</span></p>
            </div>
        </div>
    </section>

    <div class="ui-box sheet debug">
        <header>
            <h5>
                Start a new game
            </h5>
        </header>

        <div class="ui-box-content">
            <form method="POST" action="{% url 'game_start' %}">
                {% csrf_token %}
                {{ startform }}
                <input type="submit">
            </form>
        </div>

    </div>
	
{% endblock content %}