{% extends "base.html" %}

{% block content %}
	
	<p><a href="{% url 'play_prep' %}">Prep new game</a> | <a href="{% url 'play_start_day' %}">start new day</a></p>

	<p>
		<a href="{% url 'home' %}">Home</a> |
		<a href="{% url 'players' %}">Profile</a> |
		<a href="{% url 'team' %}">Team</a> |
		<a href="{% url 'auth_logout' %}">Sign out</a>
	</p>

	{% if messages %}
		<h3>Messages</h3>
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}

	<h3>Notifications</h3>

	{% for notification in notifications %}
		<li>{{ notification.player }} {{ notification.get_message }} {{ notification.datecreated|timesince }} ago</li>
	{% endfor %}

	<p>Current day: {{ currentDay }}, episode: {{ currentDay.episode }}</p>

	<h3>Team</h3>

	<p>Team event: {{ teamplayer.team.active_events }}<br>
	Actions left: {{ teamplayer.team.action_points }}<br>
	Goal zero markers: {{ teamplayer.team.goal_zero_markers }}<br>
	Score: {{ teamplayer.team.score }}</p>

	{% for mate in teammates %}
		<li>{{ mate.player }} {% ifequal mate.player player %}(YOU!){% endifequal %}</li>
	{% endfor %}

	<h3>You</h3>

	<p>Event: {{ teamplayer.active_events }}</p>

	<p>Gather pile cards: {{ teamplayer.gather_pile }}<br>
	Gathering markers: {{ teamplayer.gather_markers }}</p>

	<p>Risk pile cards: {{ teamplayer.risk_pile }}<br>
		Prevention markers: {{ teamplayer.prevent_markers }}</p>

	<form method="POST" action="{% url 'play_inspect' %}">{% csrf_token %}
		<input type="hidden" name="pile" value="gather">
		<input type="submit" value="Inspect (gather)">
	</form>

	<form method="POST" action="{% url 'play_inspect' %}">{% csrf_token %}
		<input type="hidden" name="pile" value="risk">
		<input type="submit" value="Inspect (risk)">
	</form>

	<form method="POST" action="{% url 'play_invest' %}">{% csrf_token %}
		<input type="hidden" name="pile" value="gather">
		<input type="submit" value="Invest (resource)">
	</form>

	<form method="POST" action="{% url 'play_invest' %}">{% csrf_token %}
		<input type="hidden" name="pile" value="risk">
		<input type="submit" value="Invest (safety)">
	</form>

	<form method="POST" action="{% url 'play_gather' %}">{% csrf_token %}
		<input type="submit" value="Gather">
	</form>

	<form method="POST" action="{% url 'play_prevent' %}">{% csrf_token %}
		<input type="submit" value="Prevent">
	</form>

	<form method="POST" action="{% url 'play_pump' %}">{% csrf_token %}
		<input type="submit" value="Pump (free)">
	</form>

{% endblock content %}