{% extends "base.html" %}

{% block pagetitle %}Home{% endblock %}

{% block content %}

	{% if messages %}
	    {% for message in messages %}
            <section class="modal message">
                <div class="row">
                    <div class="sheet large-12 columns">

                        <h2>Header</h2>

                        {{ message }}

                        <a href="#" class='medium dismiss btn' onclick='window.location.reload()'>Okay</a>

                    </div>
                </div>
            </section>
	    {% endfor %}
	{% endif %}

    <section class="game-ui frontline">

        {% include "partials/game/events.html" %}

        <div id="team-box" class="sheet">
            <header>
                <h5>
                    Your Team
                    <span data-tooltip class="help has-tip" title="Inspect your team members' stations">?</span>
                </h5>
            </header>

            asdf
        </div>

        <div id="messages-box" class="sheet">
            <header>
                <h5>
                    Messages
                    <span data-tooltip class="help has-tip" title="See what other team members are up to">?</span>
                </h5>
            </header>

            {% if notifications|length > 0 %}
                {% for notification in notifications %}
                    {% include "partials/notification.html" %}
                {% endfor %}
            {% else %}
                <div class="notification clearfix">
                    <div class="message clearfix">
                        No messages.
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="ui-box sheet">
            <header>
                <h5>
                    Start a new game
                </h5>
            </header>

            <div class="ui-box-content">
                <form method="POST" action="{% url 'game_start' %}">
                    {% csrf_token %}
                    {{ startform }}
                    <input type="submit">
                </form>
            </div>

        </div>



    </section>




    <section style="float: left;">
	<p>Episode {{ currentDay.episode.number }} Turn {{ currentDay.number }} ({% if currentDay.end|timeuntil != "0 minutes" %}{{ currentDay.end|timeuntil }}{% else %}less than a minute{% endif %} left)</p>

	<h3>Team</h3>

	{% include "partials/team_stats.html" %}

	<h4>Team members</h4>
	
	<ul>
	{% for mate in teammates %}
		<li>{{ mate.player }} - {{ mate.role }} {% ifequal mate.player current_player %}(You!){% endifequal %}</li>
	{% endfor %}
	</ul>

	<h3>You</h3>

	<p>Your role: Frontline.</p>

	<h3>Actions</h3>

	<form method="POST" action="{% url 'frontline_risks' %}"> {% csrf_token %}
		{{ targetform.as_p }}
		<input type="submit" value="Inspect safety">
	</form>

	<form method="POST" action="{% url 'frontline_event' %}"> {% csrf_token %}
		{{ targetform.as_p }}
		<input type="submit" value="Predict event">
	</form>

	<h3>Notifications</h3>

	<ul>
		{% for notification in notifications %}
			<li>{{ notification.player }} {{ notification.get_message }} {{ notification.datecreated|timesince }} ago</li>
		{% endfor %}
	</ul>

	{% include "partials/start_new_game.html" %}

    </section>
	
{% endblock content %}