{% extends "base.html" %}

{% block content %}

    <section class="modal message">
        <div class="row">
            <div class="sheet large-12 columns">

                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
                
                <h3 class="text-center triple-gutter-pad-top">Find yourself a team</h3>

                <p class="half-gutter-pad-top narrow">Either create or join a team.</p>

                <form action="{% url 'team_create' %}" method="POST">
                	{% csrf_token %}
                	
                	{{ teamform.as_p }}

                	<input type="submit">
                </form>

            </div>
        </div>
    </section>
    
{% endblock content %}