{% extends "base.html" %}
{% load riskgame_extras %}

{% block pagetitle %}Home{% endblock %}

{% block content %}

	{% if messages %}
	    {% for message in messages %}
            <section class="modal message">
                <div class="row">
                    <div class="sheet large-12 columns">
                        {{ message }}
                    </div>
                </div>
            </section>
	    {% endfor %}

    {% else %}

        <section class="game-ui frontline">

            {% include "partials/game/events.html" %}

            <div id="team-box" class="sheet">
                <header>
                    <h5>
                        Office players
                        <span data-tooltip class="help has-tip" title="Inspect your team members' stations">?</span>
                    </h5>
                </header>

                <div class="roster">
                    {% for mate in teammates %}
                        {% ifnotequal mate.player current_player %}
                            {% ifnotequal mate.role "frontline" %}
                                <div data-tooltip title="{{ mate.player }}" id="mate-{{ mate.id }}" data-id="{{ mate.id }}" data-name="{{ mate.player.name }}&nbsp;" data-email="{{ mate.player.email }}" class="small avatar has-tip" style="background-color: {{ mate|team_color }};"><div class="{{ mate.role }}" style="border-color: {{ mate|player_color }}; background-color: {{ mate|team_color }}"></div></div>
                            {% endifnotequal %}
                        {% endifnotequal %}
                    {% endfor %}
                </div>

                <div id="team-box-inactive" class="actions no-mate">
                    Select a player
                </div>

                <div id="team-box-active" class="actions mate" style="display:none;">
                    <span id="team-mate-name"></span>
                    <span id="team-mate-email"></span>
                    <form method="POST" action="{% url 'frontline_risks' %}"> {% csrf_token %}
                        <input type="hidden" id="team-mate-inspect-id" name="target" value="2">
                        <input type="submit" class="tiny inspect action btn" value="Inspect safety">
                    </form>

                    <form method="POST" action="{% url 'frontline_event' %}"> {% csrf_token %}
                        <input type="hidden" id="team-mate-predict-id" name="target" value="2">
                        <input type="submit" class="tiny predict action btn"  value="Predict event">
                    </form>
                </div>


            </div>

            {% include "partials/game/messages.html" %}

            <div class="ui-box sheet debug">
                <header>
                    <h5>
                        Start a new game
                    </h5>
                </header>

                <div class="ui-box-content">
                    <form method="POST" action="{% url 'game_start' %}">
                        {% csrf_token %}
                        {{ startform }}
                        <input type="submit">
                    </form>
                </div>

            </div>

        </section>

	{% endif %}
	
{% endblock content %}