{% extends "base.html" %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<h1>Ripple Effect</h1>

	{% include "partials/navigation.html" %}

	{% if messages %}
		<h3>Action result</h3>
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
	{% endif %}

	<p>Episode {{ currentDay.episode.number }} Turn {{ currentDay.number }} ({% if currentDay.end|timeuntil != "0 minutes" %}{{ currentDay.end|timeuntil }}{% else %}less than a minute{% endif %} left)</p>

	<h3>Team</h3>

	<ul>
		<li>Team event: {{ teamplayer.team.active_events }}</li>
		<li>Actions: {{ teamplayer.team.action_points }} office / {{ teamplayer.team.frontline_action_points }} frontline</li>
		<li>Goal zero: {{ teamplayer.team.goal_zero_markers }} currently / x longest this game</li>
		<li>Points: {{ teamplayer.team.victory_points_episode }} this episode / {{ teamplayer.team.victory_points }} this game</li>
		<li>Resources: {{ teamplayer.team.resources_collected_episode }} this episode / {{ teamplayer.team.resources_collected }} this game</li>
		<li>Indidents: x this episode / x this game</li>
	</ul>

	<h4>Team members</h4>
	
	<ul>
	{% for mate in teammates %}
		<li>{{ mate.player }} - {{ mate.role }} {% ifequal mate.player player %}(You!){% endifequal %}</li>
	{% endfor %}
	</ul>

	<h3>You</h3>

	<p>Your role: Frontline.</p>

	<h3>Actions</h3>

	<form method="POST" action="{% url 'frontline_risks' %}"> {% csrf_token %}
		{{ targetform.as_p }}
		<input type="submit" value="Inspect risks">
	</form>

	<form method="POST" action="{% url 'frontline_event' %}"> {% csrf_token %}
		{{ targetform.as_p }}
		<input type="submit" value="Inspect event">
	</form>

	<h3>Notifications</h3>

	<ul>
		{% for notification in notifications %}
			<li>{{ notification.player }} {{ notification.get_message }} {{ notification.datecreated|timesince }} ago</li>
		{% endfor %}
	</ul>

	<h3>Start a new game</h3>

	<form method="POST" action="{% url 'game_start' %}">
		{% csrf_token %}
		{{ startform.as_p }}
		<input type="submit">
	</form>

{% endblock content %}