{% extends "base.html" %}

{% block content %}

    <section class="modal message">
        <div class="row">
            <div class="sheet large-12 columns">

                <h3 class="text-center triple-gutter-pad-top">{{ game.start|timeuntil}} until the game starts&hellip;</h3>

                <p class="half-gutter-pad-top narrow">Great to see you signed up for the pilot of Ripple Effect, a game of resources and risks. Pretty soon, your team of office and frontline players will be banding together, trying to produce as many resources as possible, while avoiding any incidents. In the meantime, please refer to the player briefing for more information. Good luck!</p>

            </div>
        </div>
    </section>
	
    <div class="ui-box sheet debug">
        <header>
            <h5>
                Start a new game
            </h5>
        </header>

        <div class="ui-box-content">
            {% include "partials/start_new_game.html" %}
        </div>

    </div>

{% endblock content %}