{% extends "base.html" %}


{% block content %}
	<h2>Game over</h2>
	
	<p>Thanks a lot for playing the pilot of Ripple Effect, a game of resources and risks. We hope you found the experience enjoyable and instructive. Please let us know what you thought via <a href="mailto:feedback@playrippleeffect.com">feedback@playrippleeffect.com</a>. We will use all comments to improve the full version of the game, that will be longer and deeper, offering many new events along the way.</p>

	<p>Rank: {{ team.get_rank }}</p>

	<p>Points: {{ team.victory_points }}</p>

	<p>Resources: {{ team.resources_collected }}</p>

	<p>Streak: {{ team.goal_zero_streak }}</p>

	{% include "partials/start_new_game.html" %}
	
{% endblock content %}