{% extends "base.html" %}

{% block content %}

<section class="modal message" id="message-list">
    <div class="row">
        <div class="sheet large-12 columns">

<h3 class="text-center triple-gutter-pad-top">How to play</h3>

<header><h5 class="text-center pad-left">Points &amp; Goal Zero</h5></header>
<p class="narrow">Earn points by producing resources. Each resource is worth 100 points. Points are multiplied by Goal Zero, which equals the number of turns you've played without an incident happening.</p> 

<header><h5 class="text-center pad-left">Game Duration</h5></header>
<p class="narrow">The game lasts two weeks and is broken down into two episodes. Each episode consists of seven turns. Each turn lasts 24 hours.</p> 

<header><h5 class="text-center pad-left">Player Roles</h5></header>
<p class="narrow">Your team consists of office players and frontline players. These roles determine what a player can do.</p>

<header><h5 class="text-center pad-left">Actions</h5></header>
<p class="narrow">Your team has a shared pool of actions for office players equal to four times the number of office players in the team, and a shared pool of actions for frontline players equal to two times the number of office players in the team. Players can use these actions to do things. There is no limit to the number of actions they can spend. At the start of each turn, these actions are replenished.</p>

<h6>Office Player</h6>
<p class="narrow">The office player has her own station, which has a unique safety and production quality profile. Office players can do the following things:</p>
<ul>
	<li>Inspect production quality</li>
	<li>Improve production quality</li>
	<li>Inspect safety</li>
	<li>Improve safety</li>
	<li>Place barriers</li>
	<li>Plan production</li>
	<li>Produce resources</li>
</ul>
<p class="narrow">All these things cost one action, except resource production, which is free.</p>

<h6>Frontline Player</h6>
<p class="narrow">The frontline player does not have her own station but can do the following things to support the office players in her team:</p>
<ul>
	<li>Inspect an office player's safety</li>
	<li>Predict an office player's event for the next turn</li>
</ul>
<p class="narrow">All these things cost one action.</p>

<header><h5 class="text-center pad-left">Events</h5></header>
<p class="narrow">At the start of each turn, office players may receive an event. Events modify certain aspects of the game, either for you or for your whole team. Note that frontline players can see what the an office player's event for the next turn will be.</p>

<header><h5 class="text-center pad-left">Managing Your Station</h5></header>
<p class="narrow">As an office player, there are two important aspects of the game you must manage: your station's safety, and its production quality.</p>

<h6>Managing Safety</h6>
<p class="narrow">Your station's safety is represented by a stack of eight tokens. Each token is either blank or a risk. To get a partial view of your stack's composition, you can inspect safety. To decrease the number of risks in your safety stack, you can improve safety.</p>

<h8>Example</h8>
<!-- Example safety stack with all tokens shown goes here. -->
<div class="coingroup triple-gutter-pad-top">
	<div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
	<div class="coin safety no">1</div>
	<div class="coin safety no">1</div>
	<div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
	<div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
</div>
<p>An example of a player's safety stack, with all tokens shown. This player currently has five risks and three blanks.</p>


<h7>Inspecting Safety</h7>
<p class="narrow">Each time you inspect safety, your safety stack is shuffled and half of it is revealed. Thus, inspecting multiple times will provide you with more insight. Note that frontline players can also inspect safety of office player stations.</p>

<h8>Example</h8>
<!-- Example safety inspection result goes here. Just the row of tokens. -->
<div class="coingroup triple-gutter-pad-top">
	<div class="coin safety unknown">?</div>
	<div class="coin safety unknown">?</div>
	<div class="coin safety unknown">?</div>
	<div class="coin safety unknown">?</div>
	<div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
	<div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
</div>
<p>An example of a safety inspection result.</p>

<h7>Improving Safety</h7>
<p class="narrow">Each time you improve safety, a blank token is added to your safety stack, it is shuffled and a random token is removed.</p>

<h6>Managing Production Quality</h6>
<p class="narrow">Your station's production quality is represented by a stack of eight tokens. Each token is either blank or a resource. To get a partial view of your stack's composition, you can inspect production quality. To increase the number of resources in your production quality stack, you can improve production quality.</p>

<h8>Example</h8>
<!-- Example production quality stack with all tokens shown goes here. -->
<div class="coingroup triple-gutter-pad-top">
	<div class="coin production yes">1</div>
	<div class="coin production yes">1</div>
	<div class="coin production no">0</div>
	<div class="coin production yes">1</div>
	<div class="coin production no">0</div>
	<div class="coin production yes">1</div>
	<div class="coin production yes">1</div>
	<div class="coin production yes">1</div>
</div>
<p>An example of a player's production quality stack, with all the tokens shown. This player currently has six resources and two blanks.</p>

<h7>Inspecting Production Quality</h7>
<p class="narrow">Each time you inspect production quality, your production quality stack is shuffled and half of it is revealed. Thus, inspecting multiple times will provide you with more insight.</p>

<h8>Example</h8>
<!-- Example production quality inspection result goes here. Just the row of tokens. -->
<div class="coingroup triple-gutter-pad-top">
	<div class="coin production unknown">?</div>
	<div class="coin production unknown">?</div>
	<div class="coin production unknown">?</div>
	<div class="coin production unknown">?</div>
	<div class="coin production no">0</div>
	<div class="coin production yes">1</div>
	<div class="coin production yes">1</div>
	<div class="coin production yes">1</div>
</div>
<p>An example of a production quality inspection result.</p>

<h7>Improving Production Quality</h7>
<p class="narrow">Each time you improve production quality, a resource token is added to your production quality stack, it is shuffled and a random token is removed.</p>

<header><h5 class="text-center pad-left">Planning Production &amp; Producing Resources</h5></header>
<p class="narrow">To produce resources, you must reserve at least one resource production slot and may optionally place barriers. For each reserved resource production slot, one token will be drawn from your production quality stack and from your safety stack. An additional token is drawn for each resource encountered as well as for each risk, until only blanks are drawn or a stack is empty.</p> 

<h6>Example</h6>
<!-- Example resource production result goes here. -->
<div class="coingroup double-gutter-pad-bot">
	<div class="coin production yes">1</div>
    <div class="coin production no">0</div>
	<div class="coin production yes">1</div>
	<div class="step-divider"></div>
    <div class="coin production no">0</div>
    <div class="coin production no">0</div>
    <p class="text-center gutter-pad-top">2 resources and 3 blanks</p>
</div>
<div class="coingroup double-gutter-pad-bot">
	<div class="coin safety yes">0</div>
    <div class="coin safety yes">0</div>
	<div class="coin safety no">1</div>
	<div class="step-divider"></div>
    <div class="coin safety no">1</div>
	<div class="step-divider"></div>
    <div class="coin safety yes">0</div>
    <p class="text-center gutter-pad-top">2 risks and 3 blanks</p>
</div>
<div class="coingroup double-gutter-pad-bot">
	<div class="coin barrier">!</div>
	<div class="coin barrier">!</div>
	<p class="text-center gutter-pad-top">2 barriers</p>
</div>
<p>An example of a resource production result. The player placed two barriers and reserved three resource production slots. Two additional production quality tokens were drawn because of the first two resources encountered but turned up no additional resources. An additional safety token was drawn because of the first risk encountered, which turned up another risk. Because of this, another safety token was drawn turning up blank. The player's two barriers prevented the two risks from turning into an incident, thus allowing the player to score 200 points for his two resources multiplied by his current goal zero (not shown).</p>

<h6>Barriers</h6>
<p class="narrow">Each placed barrier prevents one risk from turning into an incident. Barriers are lost after resource production regardless of any risks turning up.</p>

<h6>Incidents</h6>
<p class="narrow">You score points for your resources as long as no incident happens. If an incident does happen, you do not score any points and your goal zero is reset.</p>

<header><h5 class="text-center pad-left">Wear</h5></header>
<p class="narrow">After resource production, your station's safety and production quality experience wear. A risk token is added to the former and a blank token is added to the latter. Both stacks are shuffled and a random token is removed from each.</p>

<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>
		</div>
	</div>
</section>

{% endblock %}