{% extends "base.html" %}

{% block content %}
	<h3 class="text-center triple-gutter-pad-top">How to play</h3>

	<header>
	    <h5 class="text-center pad-left">
	        A header
	    </h5>
	</header>

	<p class="narrow">klja sdlja dlkj alkdjas lkj aslkdjsa ldkj dlakjd asldkjsa dlkajd saldkjs lskajd ljka dljkasl d</p>

	<!-- // -->

	<header>
	    <h5 class="text-center pad-left">
	        A header
	    </h5>
	</header>

	<p class="narrow">klja sdlja dlkj alkdjas lkj aslkdjsa ldkj dlakjd asldkjsa dlkajd saldkjs lskajd ljka dljkasl d</p>

	<!-- // -->

	<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>
{% endblock %}