{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
	<image src="{{ STATIC_URL }}img/hubbub-logo-header.png">

	<h2>Home</h2>

	{% for team in teams %}
	<p>
		<a href="{% url 'team_detail' team.id %}">{{ team.id }} - {{ team.name }}</a>

		{% if team.open %}
			<br>The team is still open for new players.
		{% endif %}
	</p>
	{% empty %}
		There aren't any teams yet.
	{% endfor %}


	{% with player.get_led_team as led_team %}
	    
	    {% if led_team %}
	    	You are the leader of team: <a href="{{ led_team.get_absolute_url }}">{{ led_team }}</a>
	    {% else %}
	    	<p>Create team: <br>
			{% crispy create_team_form %}
	    {% endif %}
	{% endwith %}

{% endblock %}