{% extends "base.html" %}

{% block pagetitle %}{{ title|capfirst }}{% endblock pagetitle %}

{% block content %}
	
	<h2>{{ player.name }}&rsquo;s player profile</h2>

<dl>
	<dt>Email</dt>
	<dd>{{ player.user.email }}</dd>

	<dt>Team</dt>
	<dd><a href="{{ teamplayer.team.get_absolute_url }}">{{ teamplayer.team }}</a></dd>

	<dt>Role</dt>
	<dd>{{ teamplayer.role }}</p></dd>
</dl>

	{% ifequal player.user user %} 
		<p><a href="{% url 'player_profile_edit' %}" class="button">Edit your profile</a></p>
	{% endifequal %}

{% endblock content %}