{% extends "base.html" %}

{% block content %}

<h2>Players</h2>

<ul>
	{% for player in players %}
	<li>{{ player }}</li>
	{% endfor %}
</ul>

<form action="" method="GET">

	<label for="s">Filter on e-mail or username</label>
	<input name="s" id="s">

	<input type="submit" value="Search">
</form>

<div class="pagination">
    <span class="step-links">
        {% if players.has_previous %}
            <a href="?page={{ players.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ players.number }} of {{ players.paginator.num_pages }}.
        </span>

        {% if players.has_next %}
            <a href="?page={{ players.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}