{% extends "base.html" %}
{% load riskgame_extras %}

{% block pagetitle %}{{ title|capfirst }}{% endblock pagetitle %}

{% block content %}

    <section class="modal message">
        <div class="row">
            <div class="sheet large-12 columns">

            <!--
                <div class="form-success text-center">
                    Profile updated successfully.
                </div>
            -->
                <h3 class="text-center triple-gutter-pad-top">{{ player.name }}&rsquo;s profile</h3>



                <div class="large avatar margin-center triple-gutter-margin-bot" title="{{ player.get_teamplayer.role }}" style="background-color: {{ player.get_teamplayer|team_color }};"><div title="{{ player.get_teamplayer.role }}" class="{{ player.get_teamplayer.role }}" style="border-color: {{ player.get_teamplayer|player_color }}; background-color: {{ player.get_teamplayer|team_color }}"></div></div>

                <header>
                    <h5 class="text-center">
                        Profile
                    </h5>
                </header>

                <p class="stat-row">Email address <span>{{ player.user.email }}</span></p>
                <p class="stat-row">Team <span><a href="{{ player.get_teamplayer.team.get_absolute_url }}">{{ player.get_teamplayer.team }}</a></span></p>
                <p class="stat-row triple-gutter-margin-bot">Team role <span>{{ player.get_teamplayer.role|capfirst }}</span></p>

                {% ifequal player.user user %}
                    <a href="{% url 'player_profile_edit' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium yellow centered dismiss btn'>Edit profile</a>
                {% endifequal %}

            </div>
        </div>
    </section>

{% endblock content %}