{% extends "base.html" %}
{% load riskgame_extras %}
{% load i18n %}

{% block content %}
<h2>{{ team.name }} team page</h2>

<dl>
	<dt>Rank</dt>
	<dd>{{ team.get_rank }}</dd>
	<dt>Points earned this game so far</dt>
	<dd>{{ team.victory_points }}</dd>
	<dt>Resources collected this game so far</dt>
	<dd>{{ team.resources_collected }}</dd>
	<dt>Current goal zero</dt>
	<dd>{{ team.get_goal_zero_streak }}</dd>
</dl>

<h3>{% trans "Team members" %}</h3>

<ul>
{% for tp in team.teamplayer_set.all %}
<li><a href="{{ tp.player.get_absolute_url }}">{{ tp }}</a> - {{ tp.role }}
	{% ifequal current_player tp.player %}
	(You!)
	{% endifequal %}
</li>
{% endfor %}
</ul>

{% endblock content %}