@font-face {
  font-family: 'DIN-Light';
  src: url('../fonts/DINWeb-Light.eot');
  src: url('../fonts/DINWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINWeb-Light.woff') format('woff');
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('../fonts/DINWeb.eot');
  src: url('../fonts/DINWeb.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINWeb.woff') format('woff');
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DINWeb-Medium.eot');
  src: url('../fonts/DINWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINWeb-Medium.woff') format('woff');
}

@font-face {
  font-family: 'DIN-Bold';
  src: url('../fonts/DINWeb-Bold.eot');
  src: url('../fonts/DINWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINWeb-Bold.woff') format('woff');
}