server {
    listen      80;
    server_name {{project_domain}};
    access_log  /var/log/nginx/{{project_name}}.log;
    location /static {
        alias {{home}}/static/;
    }
    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3033;
    }
}