{% load url from future %}
{% load riskgame_extras %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed@2x.png" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />

        <!--<title>{% block pagetitle %}{% endblock %} - Ripple Effect</title>-->
        <title>Ripple Effect</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css" />
        <!--[if lt IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/ie.css" /><![endif]-->

        <script src="{{ STATIC_URL }}javascripts/vendor/custom.modernizr.js"></script>
        <script src="{{ STATIC_URL }}javascripts/vendor/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/vendor/jquery.color.min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/vendor/jquery.watermark.min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/site.js"></script>
        <script src="{{ STATIC_URL }}javascripts/forms.js"></script>
        <script src="{{ STATIC_URL }}javascripts/countdown.js"></script>
        <script src="{{ STATIC_URL }}javascripts/backdrop-scaler.js"></script>
        <script src="{{ STATIC_URL }}javascripts/frontline.js"></script>

        {% block extrahead %}{% endblock extrahead %}

    </head>

    <body id="game">

        {% if current_teamplayer.role == 'office' %}
            <img id="backdrop" src="{{ STATIC_URL }}img/bg/shell_office_web.jpg" alt="" class="hide top">
        {% else %}
            <img id="backdrop" src="{{ STATIC_URL }}img/bg/shell_frontline_web.jpg" alt="" class="hide bottom">
        {% endif %}

        <aside id="sidebar" class="clearfix">

            <header>
                <h1><a href="{% url 'home' %}">Ripple Effect</a></h1>
            </header>

            <div id="player" class="clearfix">
                <div class="large avatar" title="{{ current_teamplayer.role }}" style="background-color: {{ current_teamplayer.team.get_color }};"><div title="{{ current_teamplayer.role }}" class="{{ current_teamplayer.role }}" style="border-color: {{ current_teamplayer.player|player_color }}; background-color: {{ current_teamplayer.team.get_color }}"></div></div>
                <div class="name">
                    <h3>{{ current_player }}</h3>
                    <h4>{{ current_teamplayer.team }}</h4>
                </div>
                <nav class="clearfix">
                    <a href="{% url 'home' %}" class="tiny btn {% ifequal title "game" %}active{% endifequal %}">Game</a>
                    <a href="{% url 'notifications' %}" class="tiny btn {% ifequal title "messages" %}active{% endifequal %}">Messages</a>
                    <a href="{% url 'team_your' %}" class="tiny btn row-end {% ifequal title "team" %}active{% endifequal %}">Team</a>
                    <a href="{% url 'teams' %}" class="tiny btn {% ifequal title "rankings" %}active{% endifequal %}">Rankings</a>
                    <a href="{% url 'player_profile_own' %}" class="tiny btn {% ifequal title "profile" %}active{% endifequal %}">Profile</a>
                    <a href="{% url 'auth_logout' %}" class="tiny signout btn row-end js-no-refresh" data-confirmation="Are you sure you want to sign out?">Sign out</a>
                </nav>

            </div>

        {% if current_game.active %}

            <div id="game-progress">
                <header>
                    <h5 class="off-white-line tight">Game Progress</h5>

                </header>
                <div id="scorecard">

                    <ul class="inline-list">
                        <li class="turn"><span data-tooltip title="Current episode / Total episodes." class="has-tip icon episode"></span>{{ current_day.episode.number }}<span class="dark-grey"> / 2</span></li>

                        <li><span data-tooltip title="Current turn / Total turns in this episode." class="has-tip icon turn"></span>{{ current_day.number }}<span class="dark-grey"> / 7</span></li>

                        <li id="turn-countdown" style="display:none;" data-seconds-left="{{ current_day.secondsleft }}"><span data-tooltip title="Time left for this turn." class="has-tip icon time"></span><span class="hours"></span><span class="dark-grey time-colon" style="visibility: hidden">:</span><span class="minutes"></span></li>
                    </ul>

                    <div id="left-scorecard-wrapper">

                        <div id="available-actions" data-tooltip title="Number of {{ current_teamplayer.role }} actions left. Actions are<br />shared by the team. They replenish each turn." class="has-tip">
                            <span class="h-top">Actions</span>
                            <span class="score">
                                <span class="icon action"></span>{% ifequal current_teamplayer.role "office" %}{{ current_teamplayer.team.action_points }}{% else %}{{ current_teamplayer.team.frontline_action_points }}{% endifequal %}<!--<span class="dark-grey small-type">/12</span>-->
                            </span>
                        </div>

                        <div id="goal-zero" data-tooltip title="Number of consecutive turns without incidents. As your<br />Goal Zero streak rises, resources are worth more points." class="has-tip gz-{% if current_teamplayer.team.goal_zero_markers > 0 %}1{% else %}0{% endif %}">
                            <span class="h-top">Goal Zero</span>
                            <span class="score">{{ current_teamplayer.team.goal_zero_markers }}</span>
                        </div>

                    </div>

                    <div id="points" data-tooltip title="Points scored so far / Points<br />scored during the current turn." class="has-tip">
                        <span class="h-top">Points</span>
                        <span class="score">{{ current_teamplayer.team.victory_points }}</span>
                        <span class="h-bot dark-grey"><span class="small icon turn"></span>{{ current_teamplayer.team.victory_points_turn }}</span>
                    </div>

                </div>
            </div>

            {% include "partials/game/events.html" %}

        {% endif %}


        </aside>

        <div id="main">
            {% block content %}{% endblock content %}
        </div>

        <footer class="left dimmed tiny-footer white-bg clearfix">
            <h3><a class="hubbub" href="http://hubbub.eu">Hubbub</a> for <a href="http://shell.com">Shell</a></h3>
        </footer>

        <footer id="help-nubbin">
            <div id="help-content">
                <a class="help-introduction" href="{% url 'message_unseen' 'game' %}">Introduction</a>
                <a class="help-howtoplay" href="{% url 'how-to-play' %}">How to play</a>
                <a class="help-support" class="js-no-refresh" id="Intercom" href="mailto:a7af8a497dc2485b4c3cca4b011160715ea89921@incoming.intercom.io">Support</a>
            </div>
            <div class='container'>Help</div>
        </footer>

<!---->
        {% if not debug %}
            {% if current_player %}
                {% include "partials/intercom.html" %}
            {% endif %}
        {% endif %}

        {% include "partials/analytics.html" %}

        <script>
          document.write('<script src="{{ STATIC_URL}}javascripts' +
          ('__proto__' in {} ? '/vendor/zepto' : '/vendor/jquery') +
          '.js"><\/script>')
          </script>
          <script src="{{ STATIC_URL}}javascripts/foundation/foundation.js"></script>
          <script src="{{ STATIC_URL}}javascripts/foundation/foundation.tooltips.js"></script>

          <script>
          $(document).foundation();
          </script>
    </body>
</html>