<p>Inspected production for {{ player }} using 1 action.</p>

Result:
{% for item in resultpositive %}
	{{ item }}
{% endfor %}

{% for item in resultnegative %}
	{{ item }}
{% endfor %}

{% for unknown in unknowns %}
	{{ unknown }}
{% endfor %}

{% if poorvision %}
	<p>Abu: I’m sorry, my inspections aren’t worth much with this weather. Well, at least it’s something...</p>
{% endif %}

{% ifequal episode.number 1 %}	
	{% ifequal resultpositive|length 4 %} 
		<p>Your production quality couldn’t be any better, from the looks of it. Of course, as you can see, I can’t inspect all of your production quality. This is a random sample of roughly half of it. Should still be quite helpful to plan your next step, right?</p>
	{% endifequal %}

	{% ifequal resultpositive|length 3 %} 
		<p>Your production quality is generally excellent. Of course, as you can see, I can’t inspect all of your production quality. This is a random sample of roughly half of it. Should still be quite helpful to plan your next step, right?</p>
	{% endifequal %}

	{% ifequal resultpositive|length 2 %} 
		<p>Your production quality is pretty average, as you can see. Of course, I can’t inspect all of your production quality. This is a random sample of roughly half of it. Should still be quite helpful to plan your next step, right?</p>
	{% endifequal %}

	{% ifequal resultpositive|length 1 %} 
		<p>Your production quality isn’t very good, honestly. Of course, as you can see, I can’t inspect all of your production quality. This is a random sample of roughly half of it. But that should still be quite helpful to plan your next step.</p>
	{% endifequal %}

	{% ifequal resultpositive|length 0 %} 
		<p>Your production quality is terrible! Just terrible! Of course, as you can see, I can’t inspect all of your production quality, this is a random sample of roughly half of it. But it’s pretty clear to me what needs be done: improve, improve, improve!</p>
	{% endifequal %}
{% endifequal %}

{% ifequal episode.number 2 %} 
	{% ifequal resultpositive|length 4 %} 
		<p>Your production quality couldn’t be any better, from the looks of it. I’d say you’re as ready for production as you’ve ever been.</p>
	{% endifequal %}

	{% ifequal resultpositive|length 3 %} 
		<p>Your production quality is generally excellent. Are you ready for production, or do you want to enhance your quality even further?</p>
	{% endifequal %}

	{% ifequal resultpositive|length 2 %} 
		<p>Your production quality is pretty average, as you can see. What do you think, is it safe to dive head-first into resource production?</p>
	{% endifequal %}

	{% ifequal resultpositive|length 1 %} 
		<p>Your production quality isn’t very good, honestly. Are you really going to go into production? I wouldn’t do it, if I were you.</p>
	{% endifequal %}

	{% ifequal resultpositive|length 0 %} 
		<p>Your production quality is terrible! Just terrible! It’s pretty clear to me what needs be done: improve, improve, improve! Are you considering production right now? Get over yourself!</p>
	{% endifequal %}
{% endifequal %}