<h4 class="action-cost">Spent <span>1</span> Action</h4>
<h3 class="text-center double-gutter-pad-top">Safety Improvement Report</h3>
<!-- Niels, please review.—KA -->
<p class="text-center">Added a blank to your stack, shuffled it and removed a random token.</p>

{% ifequal episode.number 1 %}
    <blockquote class="triple-gutter-margin-top">
        <div class="large character large-elin-happy">Elin</div>
        <p>I’ve improved your safety. The next time you get resources, you’ll be a bit less likely to run into a risk. Just to be sure, I could do an inspection. Remember that it’s important to keep improving your safety. You can never be safe enough.</p>
    </blockquote>
{% endifequal %}

{% ifequal episode.number 2 %}
    <blockquote class="triple-gutter-margin-top">
        <div class="large character large-elin-happy">Elin</div>
        <p>I’ve improved your safety. The next time you get resources, you’ll be a bit less likely to run into a risk.</p>
    </blockquote>
{% endifequal %}

<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>
