<h4 class="action-cost">Spent <span>1</span> Action</h4>
<h3 class="text-center double-gutter-pad-top">Production Quality Improvement Report</h3>
<!-- Niels, please review.—KA -->
<p class="text-center">Added a resource token to your stack, shuffled it and removed a random token.</p>

{% ifequal episode.number 1 %}
    <blockquote class="triple-gutter-margin-top">
        <div class="large character large-abu-happy">Abu</div>
        <p>I’ve improved your production quality. Next time you produce resources, you’re likely to be a bit more successful. I’ll have to do an inspection to see just how much you’ve raised the quality. But if you keep improving, success is assured!</p>
    </blockquote>
{% endifequal %}

{% ifequal episode.number 2 %}
    <blockquote class="triple-gutter-margin-top">
        <div class="large character large-abu-happy">Abu</div>
        <p>I’ve improved your production quality. Next time you produce resources, you’re likely to be a bit more successful.</p>
    </blockquote>
{% endifequal %}

<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>