{% load riskgame_extras %}

<h3 class="text-center triple-gutter-pad-top">Confirm Resource Production</h3>

<!-- planned production -->

<header>
    <h5 class="text-center pad-left">
        Planned Production
        <span data-tooltip class="help has-tip" title="Planned units of production">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for i in current_teamplayer.gather_markers|times %}
        <div class="coin production unknown">?</div>
    {% empty %}
        <p class="text-center tiny-type gutter-pad-top">none</p>
    {% endfor %}

    <p class="text-center gutter-pad-top">{{ current_teamplayer.gather_markers }} unit{{ current_teamplayer.gather_markers|pluralize }}</p>

</div>

<!-- barriers -->

<header>
    <h5 class="text-center pad-left">
        Barriers placed
        <span data-tooltip class="help has-tip" title="Barriers prevent risks from turning into incidents">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for i in current_teamplayer.prevent_markers|times %}
        <div class="coin barrier">?</div>
    {% endfor %}

    <p class="text-center gutter-pad-top"> {{ current_teamplayer.prevent_markers }} barrier{{ current_teamplayer.prevent_markers|pluralize }}</p>

</div>

<!-- possible analysis by Harry, based on number of barriers in place? -->

<blockquote class="triple-gutter-margin-top">
    <div class="large character large-harry-concerned">Harry</div>
    <p>Starting production with only one barrier in place? Are you mad?! Oh by the way, I could easily be removed from this screen but then you'd be on your own.</p>
</blockquote>

<form class="triple-gutter-margin-top quad-gutter-margin-bot confirm-production" method="POST" action="{% url 'play_pump' %}">
    {% csrf_token %}
    <a href="{% url 'home' %}" class='medium grey centered dismiss cancel btn'>Cancel</a>

    <input type="submit" class="medium grey centered dismiss yellow produce btn" value="Produce">
</form>
