<h4 class="action-cost">Spent <span>1</span> Action</h4>
<h3 class="text-center double-gutter-pad-top">Safety Inspection Report</h3>

<div class="coingroup triple-gutter-pad-top">
    {% for unknown in unknowns %}
        <div class="coin safety unknown">?</div>
    {% endfor %}

    {% for item in resultpositive %}
        <div class="coin safety no">{{ item }}</div>
    {% endfor %}

    {% for item in resultnegative %}
        <div class="coin safety yes">{{ item }}</div>
    {% endfor %}

    <p class="text-center gutter-pad-top">
        Revealed

        {% if resultpositive|length == 0 %}
            {{ resultnegative|length }} blank{{ resultnegative|length|pluralize }}
        {% elif resultnegative|length == 0 %}
            {{ resultpositive|length }} risk{{ resultpositive|length|pluralize }}
        {% else %}
            {{ resultpositive|length }} risk{{ resultpositive|length|pluralize }} and {{ resultnegative|length }} blank{{ resultnegative|length|pluralize }}
        {% endif %}

    </p>

</div>

{% if poorvision %}
    <blockquote class="triple-gutter-margin-top">
        <div class="large character large-elin-concerned">Elin</div>
        <p>I can’t inspect your safety as well as I’m used to. Here are the results… I advise you not to draw too many conclusions from this. It's fragmentary information at best.</p>
    </blockquote>
{% else %}

    {% ifequal episode.number 1 %}
        {% ifequal resultpositive|length 0 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-happy">Elin</div>
                <p>Your safety is magnificent. Couldn’t be better. Perhaps it's obvious, but I should remind you that I can only take a random sample of about half your safety. This is not nearly enough if you ask me, but you’ll have to deal with it. It’s just the nature of this business that we can never eliminate all risk.</p>
            </blockquote>
        {% endifequal %}

        {% ifequal resultpositive|length 1 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-happy">Elin</div>
                <p>Your safety looks pretty solid. Perhaps it's obvious, but I should remind you that I can only take a random sample of about half your safety. This is not nearly enough if you ask me, but you’ll have to deal with it. Now, is it safe enough to start production? Ultimately, that’s up to you.</p>
            </blockquote>
        {% endifequal %}

        {% if not poorvision and resultpositive|length == 2 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-neutral">Elin</div>
                <p>Your safety seems to be pretty average. Perhaps it's obvious, but I should remind you that I can only take a random sample of about half your safety. This is not nearly enough if you ask me, but you’ll have to deal with it. Now, is it safe enough to start production? Ultimately, that’s up to you.</p>
            </blockquote>
        {% endif %}

        {% if resultpositive|length == 3 or poorvision and resultpositive|length == 2 %}
            {# If we have poor vision, it means two positives is worse than average.  #}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-concerned">Elin</div>
                <p>Your safety is quite poor. Perhaps it's obvious, but I should remind you that I can only take a random sample of about half your safety. That’s what my training tells me anyway. Now, should you start production with odds like this? If you ask me, no way!</p>
            </blockquote>
        {% endif %}

        {% if resultpositive|length == 4 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-concerned">Elin</div>
                <p>Your safety is extremely poor. Perhaps it's obvious, but I should remind you that I can only take a random sample of about half your safety. That’s what my training tells me anyway. Now, should you start production with odds like this? Are you kidding me?</p>
            </blockquote>
        {% endif %}
    {% endifequal %}

    {% ifequal episode.number 2 %}
        {% ifequal resultpositive|length 0 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-happy">Elin</div>
                <p>Your safety is magnificent. Couldn’t be better. Should you jump straight into production now? I guess so!</p>
            </blockquote>
        {% endifequal %}

        {% ifequal resultpositive|length 1 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-happy">Elin</div>
                <p>Your safety looks pretty solid. Now, is it safe enough to start production? Ultimately, that’s up to you.</p>
            </blockquote>
        {% endifequal %}


        {% if not poorvision and resultpositive|length == 2 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-neutral">Elin</div>
                <p>Your safety seems to be pretty average. Now, is it safe enough to start production? Ultimately, that’s up to you.</p>
            </blockquote>
        {% endif %}

        {% if resultpositive|length == 3 or poorvision and resultpositive|length == 2 %}
            {# If we have poor vision, it means two positives is worse than average.  #}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-concerned">Elin</div>
                <p>Your safety is really poor. Should you start production with odds like this? If you ask me, no way!</p>
            </blockquote>
        {% endif %}

        {% ifequal resultpositive|length 4 %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-elin-concerned">Elin</div>
                <p>Your safety is extremely poor. Should you start production with odds like this? Are you kidding me?</p>
            </blockquote>
        {% endifequal %}

    {% endifequal %}
{% endif %}

<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>