<p>Placed a barrier {{ player }} using 1 action.</p>

{% ifequal episode.number 1 %}	
	<p>Harry: I’ve placed a barrier for you. This means that if a risk comes up when you produce a resource, no incident will happen. Of course, if you plan to produce many resources, you need to make sure there are enough barriers.</p>
{% endifequal %}

{% ifequal episode.number 2 %} 
	<p>Harry: That’s another barrier right there. If you’re planning to produce many resources, do make sure that there are enough barriers.</p>
{% endifequal %}