{% load riskgame_extras %}
<h3 class="text-center triple-gutter-pad-top">Resource Production Report</h3>

<header>
    <h5 class="text-center pad-left">
        Resources
        <span data-tooltip class="help has-tip" title="Depending on your production quality, you get different production results.<br />Each successful resource triggers an attempt at producing another unit.">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for step in production %}
        {% for coin in step %}
            {% if coin == '1' %}
                <div class="coin production yes">1</div>
            {% else %}
                <div class="coin production no">0</div>
            {% endif %}
        {% endfor %}
        {% if not forloop.last %}<div class="step-divider"></div>{% endif %}
    {% endfor %}

    <p class="text-center gutter-pad-top">
        {% if resource_count == 0 %}
            {{ production_draws }} blank{{ production_draws|pluralize }}
        {% else %}
            {{ resource_count }} resource{{ resource_count|pluralize }} and {{  production_draws|subtract:resource_count }} blank{{ production_draws|subtract:resource_count|pluralize }}
        {% endif %}
    </p>
</div>

<header>
    <h5 class="text-center pad-left">
        Risks
        <span data-tooltip class="help has-tip" title="For each production attempt, a risk may appear.<br />Each uncovered risk may trigger another risk.">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for step in safety %}
        {% for coin in step %}
            {% if coin == '1' %}
                <div class="coin safety no">{{ coin }}</div>
            {% else %}
                <div class="coin safety yes">{{ coin }}</div>
            {% endif %}
        {% endfor %}
    {% if not forloop.last %}<div class="step-divider"></div>{% endif %}
    {% endfor %}

    <p class="text-center gutter-pad-top">
    {% if risk_draws == 1 %}
        1 blank
    {% else %}
        {{ incident_count }} risk{{ incident_count|pluralize }} and {{  risk_draws|subtract:incident_count }} blank{{ risk_draws|subtract:incident_count|pluralize }}
    {% endif %}
    </p>
</div>

<header>
    <h5 class="text-center pad-left">
        Barriers
        <span data-tooltip class="help has-tip" title="Each barrier you've placed prevents a<br />risk from turning into an incident.">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for i in barrier_count|times %}
        <div class="coin barrier">!</div>
    {% endfor %}

    <p class="text-center gutter-pad-top">{{ barrier_count }} barrier{{ barrier_count|pluralize }}</p>
</div>

<header>
    <h5 class="text-center pad-left">
        Results
    </h5>
</header>


    <p class="text-center gutter-pad-top narrow">
        {% if barrier_count > 0 and incident_count > barrier_count %} <!-- Barriers set, but less than number of risks, so incident. -->
            Your {{ barrier_count }} barrier{{ barrier_count|pluralize }} didn't prevent {{ incident_count }} risk{{ incident_count|pluralize }} from turning into an incident.
        {% elif barrier_count > 0 and incident_count <= barrier_count and incident_count > 0 %} <!-- Barriers set, equal to or more than risks, so no incident. -->
            Your {{ barrier_count }} barrier{{ barrier_count|pluralize }} prevented {{ incident_count }} risk{{ incident_count|pluralize }} from turning into an incident.
        {% elif incident_count > barrier_count and incident_count > 0 %} <!-- More risks than barriers, incident. -->
            Without barriers, the {{ incident_count }} risk{{ incident_count|pluralize }} turned into an incident.
        {% elif barrier_count > 0 and incident_count == 0 %} <!-- Barriers set but no risks. -->
            There were no risks, so your {{ barrier_count }} barrier{{ barrier_count|pluralize }} turned out to be unnecesary.
        {% else %} <!-- No risks, so no incident, regardless of number of barriers. -->
            You didn't encounter any risks.
        {% endif %}
    </p>
    <p class="text-center narrow">
    {% if incident_count > barrier_count %}
        {% if resource_count == 0 %}
            You didn't produce any resources. If you had, you would've lost them in the incident.
        {% else %}
            You lost {{ resource_count }} resource{{ resource_count|pluralize }} in the incident. As a result, you didn't score any points.
        {% endif %}
    {% else %}
        {% if resource_count == 0 %}
            Since you didn't find any resources, you didn't score any points.
        {% else %}
            {% if highmarket %}
                You produced {{ resource_count }} resource{{ resource_count|pluralize }} worth {{ base_points }} base points. Multiplied by a Goal Zero of {{ goal_zero }} and the current High Market doubler, you scored {{ points }} points in total!
            {% else %}
                You produced {{ resource_count }} resource{{ resource_count|pluralize }} worth {{ base_points }} base points. Multiplied by a Goal Zero of {{ goal_zero }}, you scored {{ points }} points in total!
            {% endif %}
        {% endif %}
    {% endif %}
    </p>


{% ifequal episode.number 1 %}	
	{% if incident_count > barrier_count %}
		{% if tornado %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-harry-concerned">Harry</div>
                <p>This is what I warned you about… it’s bad enough that you let an incident slip through, but with this tornado going on, you’ve now also lost all your actions. I’m pretty sure the rest of your team won’t be pleased!</p>
            </blockquote>
        {% else %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-harry-concerned">Harry</div>
                <p>Oh no, look at what you’ve done! You were careless, and now you have a full-blown incident. That means no resources, no points, no nothing. Even your Goal Zero streak is gone. This looks terrible, even for a beginner.</p>
            </blockquote>
		{% endif %}
	{% else %}
		{% if resource_count == 0 %}
			{% if highmarket %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-neutral">Mei</div>
                    <p>Too bad you couldn’t capitalize on, like, the opportunity the market conditions present us! But don’t be sad, next time will probably be much better. As a matter of fact, I’m sure of it!</p>
                </blockquote>
            {% else %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-neutral">Mei</div>
                    <p>Oh man, that’s too bad! No resources… like, at all! Maybe you should’ve talked to Abu and improved your production quality first? Or maybe you’re just out of luck?</p>
                </blockquote>
			{% endif %}
		{% else %}
			{% if highmarket %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-happy">Mei</div>
                    <p>Fantastic! Because of the High Market event, your resources pay double, and I just love the smell of point multipliers in the morning!</p>
                </blockquote>
            {% else %}
                {% if resource_count == 1 %}
                    <blockquote class="triple-gutter-margin-top">
                        <div class="large character large-mei-happy">Mei</div>
                        <p>Well done, your team will be so happy you’re on their side! Now, I really want to encourage you to keep producing, but I also have to tell you that every time you produce a resource, your production quality goes down. This means you have to constantly work on improving your production quality… but that’s really Abu’s department.</p>
                    </blockquote>
                {% else %}
                    <blockquote class="triple-gutter-margin-top">
                        <div class="large character large-mei-happy">Mei</div>
                        <p>Incredible! If this doesn’t make your team members throw you a party, I don’t know what will! Now, I really want to encourage you to keep producing, but I also have to tell you that every time you produce a resource, your production quality goes down. This means you have to constantly work on improving your production quality… but that’s really Abu’s department.</p>
                    </blockquote>
                {% endif %}
			{% endif %}

		{% endif %}
	{% endif %}
{% endifequal %}

{% ifequal episode.number 2 %} 
	{% if incident_count > barrier_count %}
		{% if tornado %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-harry-concerned">Harry</div>
                <p>This is what I warned you about… it’s bad enough that you let an incident slip through, but with this tornado going on, you’ve now also lost all your actions. I’m pretty sure the rest of your team won’t be pleased!</p>
            </blockquote>
        {% else %}
            <blockquote class="triple-gutter-margin-top">
                <div class="large character large-harry-concerned">Harry</div>
                <p>Oh no, look at what you’ve done! You were careless, and now you have a full-blown incident. That means no resources, no points, no nothing. Even your Goal Zero streak is gone. Now how are you going to explain this to your colleagues?</p>
            </blockquote>
		{% endif %}
	{% else %}
		{% if resource_count == 0 %}

			{% if highmarket %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-neutral">Mei</div>
                    <p>Too bad you couldn’t capitalize on, like, the opportunity the market conditions present us! But don’t be sad, next time will probably be much better. As a matter of fact, I’m sure of it!</p>
                </blockquote>
            {% else %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-neutral">Mei</div>
                    <p>Oh man, that’s too bad! No resources… like, at all!</p>
                </blockquote>
			{% endif %}
		{% else %}
			{% if highmarket %}
                <blockquote class="triple-gutter-margin-top">
                    <div class="large character large-mei-happy">Mei</div>
                    <p>Fantastic! Because of the High Market event, your resources pay double, and I just love the smell of point multipliers in the morning!</p>
                </blockquote>
            {%  else %}
                {% if resource_count == 1 %}
                    <blockquote class="triple-gutter-margin-top">
                        <div class="large character large-mei-happy">Mei</div>
                        <p>Well done, your team will be so happy you’re on their side!</p>
                    </blockquote>
                {% else %}
                    <blockquote class="triple-gutter-margin-top">
                        <div class="large character large-mei-happy">Mei</div>
                        <p>Incredible! If this doesn’t make your team members throw you a party, I don’t know what will!</p>
                    </blockquote>
                {% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endifequal %}
<!-- Niels, please review.—KA -->
<p class="text-center double-gutter-pad-top tiny-type">Your station's safety and production quality may have decreased due to wear.</p>

<a href="{% url 'home' %}" class='triple-gutter-margin-top quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>