<p>Placed a barrier {{ player }} for 1 action cost</p>

{% ifequal episode.number 1 %}	
	<p>Harry: I’ve placed a recovery barrier for you. This means that if a risk comes up when you produce a resource, no incident will happen. Of course, if you plan to produce many resources, you need to make sure there are enough recovery barriers.</p>
{% endifequal %}

{% ifequal episode.number 2 %} 
	<p>Harry: That’s another recovery barrier right there. If you’re planning to produce many resources, do make sure that there are enough recovery barriers.</p>
{% endifequal %}