{% load riskgame_extras %}

<h3 class="text-center triple-gutter-pad-top">Confirm Resource Production</h3>

<!-- planned production -->

<header>
    <h5 class="text-center pad-left">
        Production
        <span data-tooltip class="help has-tip" title="For each unit of production, a risk may come up.">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for i in current_teamplayer.gather_markers|times %}
        <div class="coin production unknown">?</div>
    {% empty %}
        <p class="text-center tiny-type gutter-pad-top">none</p>
    {% endfor %}

    <p class="text-center gutter-pad-top">{{ current_teamplayer.gather_markers }} unit{{ current_teamplayer.gather_markers|pluralize }}</p>

</div>

<!-- barriers -->

<header>
    <h5 class="text-center pad-left">
        Barriers
        <span data-tooltip class="help has-tip" title="Barriers prevent risks from turning into incidents.">?</span>
    </h5>
</header>

<div class="coingroup double-gutter-pad-bot">
    {% for i in current_teamplayer.prevent_markers|times %}
        <div class="coin barrier">?</div>
    {% endfor %}

    <p class="text-center gutter-pad-top"> {{ current_teamplayer.prevent_markers }} barrier{{ current_teamplayer.prevent_markers|pluralize }}</p>

</div>

{% if current_teamplayer.prevent_markers == 0 %}

    <blockquote class="half-gutter-margin-top">
        <div class="large character large-harry-concerned">Harry</div>
        <p>You're starting resource production without any barriers in place. Are you nuts?</p>
    </blockquote>

{% elif current_teamplayer.prevent_markers == 1 %}

    <blockquote class="half-gutter-margin-top">
        <div class="large character large-harry-neutral">Harry</div>
        <p>You're starting production with only one barrier in place. Are you sure about this?</p>
    </blockquote>

{% else %}

    <blockquote class="half-gutter-margin-top">
        <div class="large character large-harry-happy">Harry</div>
        <p>You've placed {{ current_teamplayer.prevent_markers }} barriers. This looks quite solid!</p>
    </blockquote>

{% endif %}

<form class="triple-gutter-margin-top quad-gutter-margin-bot confirm-production" method="POST" action="{% url 'play_pump' %}">
    {% csrf_token %}
    <a href="{% url 'home' %}" class='medium grey centered dismiss cancel btn'>Cancel</a>

    <input type="submit" class="medium grey centered dismiss yellow produce btn" value="Produce">
</form>
