{% if episode.number == 1 %}
	<p>Welcome to the first episode! The weather’s great as you can see, which releases you and your team from your right to procrastinate. In other words, it’s time to get rocking. Crank up your production, and of course, don’t forget about safety. Go!</p>
{% endif %}

{% if episode.number == 2 %}
	<p>Welcome to episode two. As you can see, it’s a lot wetter now than it was last time. Don’t let the weather distract you from your job, producing resources and staying safe. Why don’t you get started? Then I can get inside and put on some dry clothes.</p>
{% endif %}