<p>You’ve formed a team, so now it’s time to start Ripple Effect. You have taken the role of a frontline player, which means that you work with two advisors that will help you get started.</p>

<p>Elin: Hi there. Pleased to meet you, my name is Elin. As a frontline player, you can help your team to produce resources and score points by inspecting the safety of a team member’s station. With this information, your team will be better prepared to plan ahead. And don’t worry, I’ll help you out with this!</p>

<p>David: It’s also possible to see into the future and predict the events that are coming up for your team. The office players have no idea yet, so this will be really useful for them. If you want to get this done, I’ll be your man.</p>