<h3 class="text-center triple-gutter-pad-top">Welcome to Ripple Effect</h3>

<p class="half-gutter-pad-top narrow">You’ve formed a team, so now it’s time to start Ripple Effect. In the role of a frontline player, you work with two assistants who'll help you get started.</p>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>Hi there. Pleased to meet you, my name is Elin. As a frontline player, you can help your team to produce resources and score points… by inspecting the safety of team members’ stations. With this information, your team will be better prepared to plan ahead. And don’t worry, I’ll guide you wherever I can.</p>
    <div class="small character small-elin-happy">Elin</div>
</blockquote>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>At the frontline, you simply have a clearer view of the situation. This makes it possible to see into the future somewhat, predicting upcoming events for your team. As the guys and girls in the office have no idea yet, this will be really useful for them. Name's David, by the way. I'm here if you need assistance with these events.</p>
    <div class="small character small-david-happy">David</div>
</blockquote>

<a href="{% url 'message_seen' "game" %}" class='quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>