{% load riskgame_extras %}

<h3 class="text-center quad-gutter-pad-top">Turn {{ current_day.number }} has started</h3>

{% with event|event_name as event %}
    {% ifequal event "Tornado" %}
        <div class="event-intro event-tornado-intro"></div>

        <h3 class="text-center triple-gutter-pad-top">Tornado</h3>
        <p class="triple-gutter-margin-bot text-center">If there’s an incident during the current turn,<br>your team will lose its actions.</p>

        <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
            <p>Please be careful now. With these high winds, bad stuff will surely happen. An incident is bad enough by itself, but if your actions are lost, everyone's hands will be tied for the rest of the turn. You folks should think hard about how to proceed!</p>
            <div class="small character small-harry-neutral">Harry</div>
        </blockquote>
    {% endifequal %}

    {% ifequal event "Increased Risk" %}
        <div class="event-intro event-caution-intro"></div>

        <h3 class="text-center triple-gutter-pad-top">Increased Risk</h3>
        <p class="text-center">Your safety may have decreased.</p>

        <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
            <p>Please be careful now, this is risky! Why don’t you improve your safety instead of spending all your actions on resources?</p>
            <div class="small character small-elin-neutral">Elin</div>
        </blockquote>
    {% endifequal %}

    {% ifequal event "High Market" %}
        <div class="event-intro event-high-market-intro"></div>

        <h3 class="text-center triple-gutter-pad-top">High Market</h3>
        <p class="text-center">Resources give double points.<br>This event affects all office players.</p>

        <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
            <p>This is incredible. The resource markets are soaring, which means that if your team does well, it'll score points like there’s no tomorrow! So what are you still waiting for? Go retrieve resources, like, right now!</p>
            <div class="small character small-mei-happy">Mei</div>
        </blockquote>
    {% endifequal %}

    {% ifequal event "Lightning" %}
        <div class="event-intro event-lightning-intro"></div>

        <h3 class="text-center triple-gutter-pad-top">Lightning</h3>

        {% if lightninghit %}
            <p class="triple-gutter-margin-bot text-center">You were hit by lightning, which caused your team to lose four actions.</p>

            <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
                <p>The weather’s rough this morning, maybe even rougher than it was in the fall of eighty-four. That lightning bolt was pretty nasty… you're lucky to be alive!</p>
                <div class="small character small-harry-neutral">Harry</div>
            </blockquote>
        {% else %}
            <p class="triple-gutter-margin-bot text-center">You were nearly hit by lightning.</p>

            <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
                <p>The weather’s rough this morning, but it’s not nearly as rough as it was in the fall of eighty-four. That lightning bolt came pretty darn close though… you should consider yourself lucky!</p>
                <div class="small character small-harry-neutral">Harry</div>
            </blockquote>
        {% endif %}
    {% endifequal %}

    {% ifequal event "Poor Vision" %}
        <div class="event-intro event-poor-vision-intro"></div>

        <h3 class="text-center triple-gutter-pad-top">Poor Vision</h3>
        <p class="text-center">Inspections are less effective during this turn.<br>This event affects the entire team.</p>

        <blockquote class="half-gutter-margin-top">
            <p>The weather makes it pretty tough to inspect your production during this turn. To be honest, I’m not sure if I’ll be able to come back to you with as much information as usual.</p>
            <div class="small character small-abu-concerned">Abu</div>
        </blockquote>

        <blockquote class="half-gutter-margin-top double-gutter-pad-bot">
            <p>Same here! You’ll have to ask yourself whether you want to try and retrieve resources under these conditions.</p>
            <div class="small character small-elin-concerned">Elin</div>
        </blockquote>
    {% endifequal %}

    {% ifequal event "" %}
        <p class="half-gutter-margin-bot">&nbsp;</p>
    {% endifequal %}
{% endwith %}


{% if action_players %}
    <header>
        <h5 class="text-center">
            Active team members during the previous turn
        </h5>
    </header>

    {% for player in action_players %}
        <div class="notification clearfix">
            <div class="small avatar" title="{{ player.get_teamplayer.role }}" style="background-color: {{ player.get_teamplayer.team.get_color }};"><div title="{{ player.get_teamplayer.role }}" class="{{ player.get_teamplayer.role }}" style="border-color: {{ player|player_color }}; background-color: {{ player.get_teamplayer.team.get_color }}"></div></div>
            <div class="message clearfix single-line">
                {{ player }}
                {% ifequal current_player tp.player %}
                    (you!)
                {% endifequal %}
            </div>
        </div>

    {% endfor %}
    <p class="double-gutter-margin-bot">&nbsp;</p>
{% endif %}

<a href="{% url 'message_seen' "turn" %}" class='quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>