<h3 class="text-center triple-gutter-pad-top">Welcome to Ripple Effect</h3>

<p class="half-gutter-pad-top narrow">You’ve formed a team, so now it’s time to start Ripple Effect. In the role of an office player, you work with four assistants who'll help you get started at your station.</p>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>Hi there! Nice to meet you, my name is Mei. The goal of you and your team is to produce as many resources as you can. Why? Because they’ll give you points! Each team member has his or her own station, with its own characteristics, but your score is shared. So what are you waiting for? If you’re smart and persistent, the world is at your feet!</p>
    <div class="small character small-mei-happy">Mei</div>
</blockquote>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>To be precise, the amount of resources you end up with depends on the production quality of your station. If you want, I can inspect or improve this for you. Be aware that you have a limited amount of actions per day, that’s shared by the entire team. And consider that your production quality will drop every time you produce resources. Before I forget... I’m Abu. Surely, we’ll talk again soon.</p>
    <div class="small character small-abu-happy">Abu</div>
</blockquote>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>Not so fast! Resources, points... it’s all nice and dandy, but nothing comes before safety. Name’s Harry, by the way. I’ve been doing this for thirty years, so I know what I’m talking about. Whenever you try to produce resources, you may run into risks. And if you don’t place barriers beforehand, risks turn into full-blown incidents. That's the last thing you want. Also, the longer you prevent incidents, the higher the Goal Zero counter will get!</p>
    <div class="small character small-harry-happy">Harry</div>
</blockquote>

<blockquote class="half-gutter-margin-top double-gutter-pad-bot">
    <p>It’s also possible to work on your long-term safety. Better to prevent than to cure, right? You can come to me, Elin, to inspect or improve the safety of your station. Can you imagine anything more important? If you invest in safety, I’m positive that the future will be bright for you and your team. Good luck!</p>
    <div class="small character small-elin-happy">Elin</div>
</blockquote>

<a href="{% url 'message_seen' "game" %}" class='quad-gutter-margin-bot medium grey centered dismiss btn js-continue'>Continue</a>